@import './_variables.scss';

.dark{
    header{
        nav{
            color: $color4;
            background-color: $color6;
            .active, .btn:hover {
                background-color: $color8;
            }
        }
    }
    .divisor{
        color: $color4;
        background-color: $color7;
        .guestData{
            .guestQtyCont{

            }
            .guestList{
                .header{

                }
                .guestContainer{

                }
            }
            .more{
                svg{
                    //border: 1px $color4 solid;
                    box-shadow: 0 0 4px 0 $color4;
                    background-color: $color7;
                }
            }
        }
        .result{
            //background-color: $color1;
            //border: $color5;
            //box-shadow: 0 0 1px 1px $color5;
        }
    }
    .calculator{
        background-color: $color7;
        .btn{
        }
        .display{
            color: $color4;
        }
    }
    .btn{
        color: $color4;
        background-color: $color6;
    }
    .btn:hover, .btn:active {
        background-color: $color6;
    }
    input{
        color: $color4;
        background-color: $color7;
    }
}