@import './_variables.scss';



.light{
    header{
        nav{
            background-color: $color1;
            .active, .btn:hover {
                background-color: $color2;
            }
        }
    }
    .divisor{
        background-color: $color3;
        .guestData{
            .guestQtyCont{

            }
            .guestList{
                .header{

                }
                .guestContainer{

                }
            }
            .more{
                svg{
                    border: 1px $color1 solid;
                    background-color: $color1;
                }
            }
        }
    }
    .calculator{
        background-color: $color3;
    }
    .btn{
        background-color: $color1;
    }
    .btn:hover, .btn:active {
        background-color: $color2;
    }
    input{
        background-color: $color3;
    }
}