$color1: #b0bec5;
$color2: #90a4ae;
$color3: #eceff1;
$color4: #cfd8dc;
$color5: #263238;



.light{
    header{
        nav{
            background-color: $color1;
            .active, .btn:hover {
                background-color: $color2;
            }
        }
    }
    .divisor{
        background-color: $color3;
        .guestData{
            .guestQtyCont{

            }
            .guestList{
                .header{

                }
                .guestContainer{

                }
            }
            .more{
                svg{
                    border: $color1;
                    background-color: $color1;
                }
            }
        }
        .result{
            //background-color: $color1;
            //border: $color5;
            //box-shadow: 0 0 1px 1px $color5;
        }
    }
    .calculator{
        background-color: $color3;
    }
    .btn{
        background-color: $color1;
    }
    .btn:hover, .btn:active {
        background-color: $color2;
    }
    input{
        background-color: $color3;
    }
}