@import url("https://fonts.googleapis.com/css2?family=Exo&family=Teko:wght@500;600&display=swap");
.light header nav {
  background-color: #b0bec5;
}

.light header nav .active, .light header nav .btn:hover {
  background-color: #90a4ae;
}

.light .divisor {
  background-color: #eceff1;
}

.light .divisor .guestData .more svg {
  border: #b0bec5;
  background-color: #b0bec5;
}

.light .calculator {
  background-color: #eceff1;
}

.light .btn {
  background-color: #b0bec5;
}

.light .btn:hover, .light .btn:active {
  background-color: #90a4ae;
}

.light input {
  background-color: #eceff1;
}

.dark header nav {
  background-color: #01579b;
}

#theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-family: 'Exo', sans-serif;
}

#theme button {
  font-family: 'Exo', sans-serif;
  border: 0;
}

#theme input {
  font-family: 'Exo', sans-serif;
  border: 0;
  border-bottom: 1px solid;
}

#theme header {
  width: 100%;
}

#theme header nav {
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 50px;
      grid-template-columns: 1fr 1fr 50px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#theme header nav .divisorTab {
  line-height: 50px;
}

#theme header nav .calcTab {
  line-height: 50px;
}

#theme header nav #themeBtn {
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#theme .divisor {
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  height: auto;
  max-height: 0px;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#theme .divisor .guestData {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vh 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#theme .divisor .guestData .guestQtyCont {
  margin: 3vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#theme .divisor .guestData .guestQtyCont label {
  font-family: 'Exo', sans-serif;
  display: inline;
}

#theme .divisor .guestData .guestQtyCont input::-webkit-outer-spin-button,
#theme .divisor .guestData .guestQtyCont input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#theme .divisor .guestData .guestQtyCont input[type=number] {
  -moz-appearance: textfield;
}

#theme .divisor .guestData .guestQtyCont input {
  border-bottom: 1px solid;
  margin-left: 5vw;
  text-indent: 0.5vw;
  width: 50px;
  text-align: center;
}

#theme .divisor .guestData .guestList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#theme .divisor .guestData .guestList .guestContainer {
  margin: 0.5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

#theme .divisor .guestData .guestList .guestContainer input::-webkit-outer-spin-button,
#theme .divisor .guestData .guestList .guestContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#theme .divisor .guestData .guestList .guestContainer input[type=number] {
  border: 0;
  -moz-appearance: textfield;
  border-bottom: 1px solid;
}

#theme .divisor .guestData .guestList .guestContainer input {
  text-indent: 0.5vw;
  width: 150px;
}

#theme .divisor .guestData .guestList .guestContainer .amountCont {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20px;
}

#theme .divisor .guestData .guestList .guestContainer .amountCont label {
  line-height: 20px;
}

#theme .divisor .guestData .guestList .guestContainer .amountCont .amount {
  width: 60px;
}

#theme .divisor .guestData .guestList .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#theme .divisor .guestData .guestList .header h3 {
  font-size: 1em;
  margin: 2vh 0 2vh 0;
}

#theme .divisor .guestData .guestList .header .amount {
  margin-left: 45px;
}

#theme .divisor .guestData .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vh;
}

#theme .divisor .guestData .more svg {
  margin: 0.5vw;
  padding: 5px;
  border-radius: 100%;
}

#theme .divisor .guestData .calculate {
  height: 6vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}

#theme .divisor .result {
  display: none;
  margin: 1vw;
  padding: 1vw;
  height: auto;
}

#theme .divisor .result span {
  margin: 1vw;
  display: block;
}

#theme .divisor.active {
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  height: auto;
  max-height: 480px;
}

#theme .calculator {
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  height: auto;
  max-height: 0px;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1vh;
}

#theme .calculator .display {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1vw;
  padding-top: 1vh;
}

#theme .calculator .display input::-webkit-outer-spin-button,
#theme .calculator .display input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0.5vw;
}

#theme .calculator .display input[type=number] {
  -moz-appearance: textfield;
}

#theme .calculator .display input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 15vh;
  text-indent: 1vw;
  font-size: 4em;
}

#theme .calculator .topBtns {
  position: relative;
  margin: 0 1vw 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#theme .calculator .topBtns .addBtn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#theme .calculator .topBtns .addBtn #addBtn {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 12vh;
  line-height: 50px;
}

#theme .calculator .topBtns .advOperators {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#theme .calculator .topBtns .advOperators button {
  text-align: center;
  height: 12vh;
  line-height: 50px;
}

#theme .calculator .bottomBtns {
  position: relative;
  margin: 0 1vw 0 1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

#theme .calculator .bottomBtns .numpad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

#theme .calculator .bottomBtns .numpad button {
  text-align: center;
  height: 12vh;
  line-height: 50px;
}

#theme .calculator .bottomBtns .regOperators {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

#theme .calculator .bottomBtns .regOperators button {
  text-align: center;
  height: 12vh;
  line-height: 50px;
}

#theme .calculator.active {
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  height: 800px;
  max-height: 100vh;
}
/*# sourceMappingURL=style.css.map */