@import url('https://fonts.googleapis.com/css2?family=Exo&family=Teko:wght@500;600&display=swap');
@import './_light.scss';
@import './_dark.scss';

#theme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-family: 'Exo', sans-serif;
    button{
        font-family: 'Exo', sans-serif;
    }
    input{
        font-family: 'Exo', sans-serif;
        border: 0;
        border-bottom: 1px solid;
    }
    header{
        width: 100%;
        nav{
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-content: center;
            .divisorTab{
                line-height: 50px;
            }
            .calcTab{
                line-height: 50px;
            }
            #themeBtn{
                line-height: 50px;
            }
        }
    }
    #divisor{
        max-width: 360px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .guestData{
            max-width: 360px;
            display: flex;
            flex-direction: column;
            padding: 1vh 0;
            justify-content: space-evenly;
            align-items: center;
            .guestQtyCont{
                margin: 3vw;
                width: 100%;
                display: flex;
                justify-content: center;
                label{
                    font-family: 'Exo', sans-serif;
                    display: inline;
                }
                input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                }
                input{
                    border-bottom:1px solid;
                    margin-left: 5vw;
                    text-indent: 0.5vw;
                    width: 50px;
                    text-align: center;
                }
            }
            .guestList{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .guestContainer{
                    margin: 0.5vw;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: space-evenly;
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                    }
                    input[type=number] {
                        border: 0;
                        -moz-appearance: textfield;
                        border-bottom:1px solid;

                    }
                    input{
                        text-indent: 0.5vw;
                        width: 150px;
                    }
                    .amountCont{
                        margin-left: 30px;
                        display: flex;
                        justify-content: space-evenly;
                        height: 20px;
                        label{
                            line-height: 20px;
                        }
                        .amount{
                            width: 60px;
                        }
                    }
                }
                .header{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    h3{
                        font-size: 1em;
                    }
                    .guest{

                    }
                    .amount{
                        margin-left: 45px;
                    }
                }
            }
            .more{
                display: flex;
                justify-content: center;
                padding: 1vh;
                svg{
                    margin: 0.5vw;
                    border: 1px black solid;
                    padding: 5px;
                    border-radius: 95%;
                }
            }
            #calculate{
                height: 5vh;
                align-self: center;
                padding: 1vh;
            }
        }
        .result{
            margin: 1vw;
            padding: 1vw;
            border: 1px black solid;
            height: 30vh;
            span{
                margin: 1vw;
                display: block;
            }
        }
    }
    #calculator{
        max-width: 360px;
        width: 100%;
        box-sizing: border-box;
        border: black 1px solid;
        .display{
            box-sizing: border-box;
            margin: 1vw;
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            input[type=number] {
                -moz-appearance: textfield;
            }
            input{
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                text-indent: 1vw;
            }
        }
        
        .topBtns{
            margin: 0.5vw;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .addBtn{
                box-sizing: border-box;
                margin: 0.5vw;
                #addBtn{
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid black;
                }
            }

            .advOperators{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                button{
                    text-align: center;
                    margin: 0.5vw;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid black;
                }
            }
        }
        .bottomBtns{
            margin: 0.5vw;
            display: grid;
            grid-template-columns: 3fr 1fr;
            .numpad{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                button{
                    text-align: center;
                    margin: 0.5vw;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid black;
                }
            }
            .regOperators{
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                button{
                    text-align: center;
                    margin: 0.5vw;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid black;
                }
            }
        }
    }
}
